[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
opencv-python = "*"
flake8 = "*"
autopep8 = "*"
jsonschema = "*"
pycairo = "*"

[requires]
python_version = "3.7"
